* {
  margin: 0;
  padding: 0;
}

.block {
  padding:  10px 20px;
  border: 1px solid black;
  margin: 10px;
  
}

.container {
  padding:  10px 20px;
  margin: 20px;
  border: 1px solid black;
  display:flex;
  justify-content: space-around;
  font-size: 20px;
}